<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <section>
    <h2 id="error" th:text="${error}"> </h2>

    <form th:action="@{/choose-delegate}" method="post">
      <h4> Escolha o ID do Delegado</h4>
      <select th:name="selectedDelegate">
        <option th:each=" d : ${delegates} " th:value="${d.id}" th:text="${d.name}"> </option>

      </select>

      <h4> Escolha o tema</h4>
      <select th:name="selectedTheme">
        <option th:each=" t : ${themes} " th:value="${t.id}" th:text="${t.theme}"> </option>
      </select>


      <input type="submit" value="Escolher Delegado" />
    </form>
  </section>
</body>
</html>
